/********************
GENERAL
********************/

body {
  font-family: 'Exo', sans-serif;
  font-size: 16px;
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;  
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
} 
/********************
HEADING
********************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center; 
  margin: 0;
}

h1 {
  font-family: 'Titillium Web', sans-serif;
  margin: 15px 0; 
  font-size: 1.75em;
  font-weight: bold;
  line-height: 0.8em;
  padding-bottom: 20px;
}

h2 {
  margin: -5px 0 0;
  font-weight: normal;
}

/********************
NAVIGATION
********************/

nav {
  text-align: center;
  padding: 0px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 400;
  padding: 15px 10px;
}

/********************
FOOTER
********************/

footer {
  font-size: 0.75em;
  clear: both;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-text {
  margin-top: 5px;
  margin-bottom: 5px;
  float: left;
}

.float-right {
  float: right;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/********************
PAGE: PORTFOLIO
********************/

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #bdc3c7;
}

/********************
PAGE:ABOUT
********************/

.profile-photo {
  display: block;
  border-radius: 100%;
  width: 25%;
  padding-right: 37.5%;
  padding-left: 37.5%;
}

.text-block {
  display: block;
  float: none;
  margin-top: 10px;
  align-items: center;
  overflow: visible;
}

/********************
COLORS
********************/

/* site body */

body {
  background-color: #ECEFF1;
  color: #000;
}

a {
  color: #000;
}

nav a.selected, nav a:hover {
  color: #ccc;
}

/********************
OTHER
********************/

.home-section {
  height: 600px;
  margin: auto;
  width: 50%;
  padding-top: 200px;
}

/*.about-section {
  display: inline-block;
  height: 600px;
  padding-top: 20px;
  margin: auto;
}*/

.contact-section {
  padding-bottom: 150px;
}

.gallery-section {
  height: 950px;
}

.social-button {
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  padding: 2px;
}

.social-button:hover {
  opacity: 0.5;
}

.button {
  position: relative;
  display: inline-block;
  text-align: center;
  clear: none;
  padding: 10px 10px;
  margin-top: 20px;
  margin-right: 45%;
  margin-left: 45%;
  border: 1px none #73ceda;
  border-radius: 5px;
  direction: ltr;
  background-color: #333;
  color: #fff;
  align-content: center;
}

.button:hover {
  background-color: #455a64;
  opacity: 1;
  color: #fff;
}

.home-heading {
  padding-bottom: 0px;
  font-size: 50px;
}

.home-subheading {
  font-size: 20px;
  padding-bottom: 5px;
}

.heading {
  text-transform: uppercase;
  padding: 30px;
}

.section-heading {
  font-size: 20px;
  text-transform: uppercase;
}

.section {
  height: 400px;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.all-social {
  padding-bottom: 150px;
}





